@mixin column_styling($prop1, $prop2) {
  display: flex;
  flex-flow: column;
  justify-content: $prop1;
  text-align: center;
  margin-top: $prop2;
}

@mixin skill-icon($prop1, $prop2, $prop3) {
  background-color: $prop1;
  font-size: $prop2;
  opacity: $prop3;
}

@mixin button-element($prop1) {
  margin-top: $prop1;
  width: 200px;
  height: 100px;
  border: none;
  &:hover {
    width: 250px;
    height: 150px;
    & .hover-tip-note {
      display: contents;
      font-size: large;
    }
  }
}

.columns {
  @include column_styling(flex-start, 5%);
}

.about-me-column {
  @include column_styling(center, 0%);
}

.button-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.button-element {
  @include button-element(25%);
}

.contact-button {
  @include button-element(10%);
}

.hover-tip-note {
  display: none;
}

.instructions-note {
  font-style: italic;
  font-size: medium;
  margin-top: 50px;
}

.name {
  font-weight: bold;
  font-size: 3rem;
}

.welcome-note {
  font-size: x-large;
}

.about-me-note {
  font-size: large;
}

.html-icon {
  @include skill-icon(#e54c21, x-large, 0.1);
}

.JS-icon {
  @include skill-icon(black, x-large, 0.3);
  color: #f7df1e;
}

.animate__animated.animate__jackInTheBox {
  animation-duration: 6s;
}

.animate__animated.animate__heartBeat {
  animation-delay: 4s;
}
