$defaultHoverBgr: #5f9ea099;
$defaultHoverColor: #ffffff;
$colorBgContainer: #5f9ea0cc;
$colorTex: #ffffff;

:export {
  defaultHoverBgr: $defaultHoverBgr;
  defaultHoverColor: $defaultHoverColor;
  colorBgContainer: $colorBgContainer;
  colorTex: $colorTex;
}
