.layout {
  height: 100%;
}

body {
  background-image: url("../../public/gory-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.introduction {
  text-align: center;
}

.card {
  background-color: cadetblue;
  color: white;
  opacity: 0.8;
}

.instructions-note {
  font-style: italic;
  font-size: medium;
  margin-top: 50px;
}

.columns {
  /* width: "33.33vw";
  height: "33.33vw"; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.name {
  font-weight: bold;
  font-size: xx-large;
}
.welcome-note {
  font-size: x-large;
}

.about-me-note {
  font-size: large;
}
.container {
  padding: 10%;
  margin: 10%;
}

.buttons {
  margin-top: 30%;
  width: 200px;
  height: 100px;
  background-color: rgb(95, 158, 160, 0.6);
  font-size: large;
}

.animate__animated.animate__jackInTheBox {
  animation-duration: 6s;
}
.contact-button {
  margin-top: 10%;
  width: 200px;
  height: 100px;
  background-color: rgb(95, 158, 160, 0.6);
  font-size: large;
}
