$bg-image: url("../../public/gory-photo.jpg");

@mixin column_styling($prop1, $prop2) {
  display: flex;
  flex-flow: column;
  justify-content: $prop1;
  text-align: center;
  margin-top: $prop2;
}

@mixin skill-icon($prop1, $prop2, $prop3) {
  background-color: $prop1;
  font-size: $prop2;
  opacity: $prop3;
}

@mixin button-element($prop1) {
  margin-top: $prop1;
  width: 200px;
  height: 100px;
  border: none;
  &:hover {
    width: 250px;
    height: 150px;
    & .hover-tip-note {
      display: contents;
      font-size: large;
    }
  }
}

.layout {
  height: 100%;
}

body {
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.columns {
  @include column_styling(flex-start, 5%);
}

.about-me-column {
  @include column_styling(center, 0%);
}

.button-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.button-element {
  @include button-element(25%);
}

.contact-button {
  @include button-element(10%);
}

.hover-tip-note {
  display: none;
}

.instructions-note {
  font-style: italic;
  font-size: medium;
  margin-top: 50px;
}

.name {
  font-weight: bold;
  font-size: 3rem;
}

.welcome-note {
  font-size: x-large;
}

.about-me-note {
  font-size: large;
}

.html-icon {
  @include skill-icon(#e54c21, x-large, 0.1);
}

.JS-icon {
  @include skill-icon(black, x-large, 0.3);
  color: #f7df1e;
}

.animate__animated.animate__jackInTheBox {
  animation-duration: 6s;
}

.animate__animated.animate__heartBeat {
  animation-delay: 4s;
}

.route-card {
  width: 50%;
  margin-top: 3%;
  margin-left: 25%;
  height: 80%;
  padding: 0;
  background-color: #5f9ea099;
  color: white;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
  }
  em {
    font-size: 0.9rem;
  }
}

.text-page-route {
  text-align: center;
  font-size: 1.1rem;
}

.tech-page-route {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 255, 149, 0.859);
  text-shadow: rgb(0, 149, 255) 2px 2px 2px;
}

.publ-text {
  font-size: 1rem;
}

.contact-icon {
  font-size: xx-large;
  margin-right: 2%;
  vertical-align: middle;
  margin-bottom: 10px;
  color: black;
}

.email-address {
  color: white;
  &:hover {
    color: black;
  }
}

.JS-logo-route {
  font-size: 5rem;
  color: #f7df1e;
  background-color: black;
  margin-right: 2%;
}

.HTML-logo-route {
  font-size: 5rem;
  background-color: #e54c21;
  margin-right: 2%;
}

.CSS-logo-route {
  font-size: 5rem;
  background-color: #004ce8;
  margin-right: 2%;
}

.React-logo-route {
  font-size: 5rem;
  background-color: #222222;
  color: #01dafe;
  margin-right: 2%;
}

.TS-logo-route {
  font-size: 5rem;
  background-color: white;
  color: #007bcd;
  margin-right: 2%;
  margin-top: 4%;
}

.Sass-logo-route {
  font-size: 5rem;
  background-color: white;
  color: #ce679a;
  margin-right: 2%;
  margin-top: 4%;
}

.Git-logo-route {
  font-size: 5rem;
  background-color: white;
  color: #f05030;
  margin-right: 2%;
  margin-top: 4%;
}

.Next-logo-route {
  font-size: 5rem;
  background-color: white;
  color: black;
  margin-right: 2%;
  margin-top: 4%;
}

.Python-logo-route {
  width: 80px;
  height: 80px;
  margin-right: 2%;
  margin-top: 4%;
}

.AD-logo-route {
  width: 80px;
  height: 80px;
  margin-right: 2%;
  margin-top: 4%;
}
